.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr; /* Three columns with widths 1, 2, and 3 units */
    grid-template-rows: auto auto; /* Two rows with automatic height */
  }
  
  .item1 {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 3; /* Spans across all three columns */
    background-color: aquamarine;
  }
  
  .item2 {
    grid-column-start: 2;
    grid-row-start: 1;
    background-color: blanchedalmond;
  }
  
  .item3 {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-column-end: 4; /* Spans across two columns */
    background-color: lightcoral;
  }