#root {
  width: 100%;
  
  padding: 2rem;
  background-color: black;
  color: white;
}
.btn-dark{
  margin-left: 20%;
}



.h1-header {
  
}
footer p {
  display: inline;
  padding: 10%;
  font-size: 20px;
  
  height: 10%;
}
footer {
  text-align: center;
  background-color: #ba9d9d;
  margin-top: 10%;
}
.main{
  width: 50%;
  align-items: center;
  border: 2px solid white;
  margin-left: 20%;
  padding: 2%;
  margin-bottom: 2%;
  margin-top: 5%;
}
.navbar-brand{
  padding-left: 2%;
}
.p{
  width: 80%;
  align-items: center;

  margin-left: 10%;
  
  
}
.btn{
 border: 2px solid white;
  margin-left: 800%;
}
.btn1{
  border: 2px solid white;
   margin-left: 88%;
   margin-top: 2%;
 }
.h1{
  font-size: 1.5em;
  margin-left: 30%;
  margin-bottom: 5%;
}
#navbarText{
  margin-left: 20%;
}