/*
inline elements:
<span>
<a>
<img>
<em>
<strong>

block elements:
<p>
<h1>
<h2>
<h3>
<div>
<ul>,<ol>
<li>
*/
/* Resets */
body, p, h1, nav, a, img {
    margin: 0;
    padding: 0;
}

/* Styles for header (Block Element) */
header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

/* Styles for navigation menu (Inline Element) */
nav a {
    margin-right: 20px;
    color: blue;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/* Styles for main content area */
main {
    padding: 20px;
    text-align: center;
}

/* Styles for paragraphs (Block Element) */
p {
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
}

/* Styles for images (Inline Element) */
img {
    border: 2px solid #333;
    /* Making the inline img element behave like a block-level element for centering */
    display: block;
    margin: auto;
}

/* Styles for footer (Block Element) */
footer {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Styling the footer's paragraph */
footer p {
    color: #666;
}